:root {
  --sidebar-bg: rgb(236, 236, 236);
  /* --sidebar-bg: rgb(232, 232, 252); */
  --main-color: #ffb80c;
  /* --main-color: rgb(192, 192, 255); */
  /* --main-color: rgb(232, 232, 252); */
  /* --main-color: rgb(61, 61, 158); */
  --main-color-light: #ffb60c59;
  --red: #d9517847;
  --blue: #008efb24;
  --cashout: #BBF7D0;
  --navy: rgb(148, 148, 219);
  --navy-light: rgb(232, 232, 252);
  --navy-dark: rgb(61, 61, 158);
  --dashboard-bg-light: rgb(243, 244, 246);
  --dashboard-bg-dark: #202020;
}

.main-section {
  position: relative;
  background-color: rgb(236, 236, 236);
  min-height: 100vh;
}

/* ================ navbar ============== */

.navbar {
  height: 60px;
  background-color: var(--main-color);
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-btn {
  background-color: black;
  height: 38px;
  width: 80px;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  transition: transform 0.1s;
}

.navbar-profile {
  background-color: black;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding-bottom: 2px;
  padding: 0 10px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  transition: transform 0.1s;
}

.navbar-btn:hover {
  transform: scale(1.02);
}

.navbar-btn:active {
  transform: scale(0.99);
}

.navbar .menus .menu {
  padding: 0 8px;
  line-height: 25px;
  cursor: pointer;
}

.navbar .menus .active {
  background-color: rgba(255, 255, 255, 0.37);
  border-radius: 4px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .menus .active:hover {
  border-bottom: none !important;
}

.navbar .menus .menu:hover {
  border-bottom: 1px solid black;
  margin-top: 2px;
}

/* ================ sidebar ============== */

.sidebar {
  background-color: var(--sidebar-bg);
  position: fixed;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  z-index: 99;
}

::-webkit-scrollbar {
  display: none;
}

/* ================ content ============== */

.content {
  min-height: 100vh;
  transition: all;
  transition-duration: 0.5s;
}

.home-hero-section-swiper {
  border-radius: 10px;
}

.home-hero-section-swiper .swiper {
  width: 100%;
  height: 100%;
}

.home-hero-section-swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background-color: gray;
}

.swiper-pagination-bullet-active {
  background-color: white; /* Change active bullet color */
}

.home-hero-section-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-cards-section {
  flex: 1;
  min-height: 77px;
  border-radius: 7px;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.123);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  transition: all;
  transition-duration: 0.3s;
}

.home-cards-section:hover {
  scale: 1.02;
  border: 1px solid rgba(128, 128, 128, 0.233);
}

.home-cards-section:active {
  scale: 1;
}

/* =================== sports ================ */

.sports-right-swiper {
  border-radius: 7px;
}

.sports-right-swiper .swiper {
  width: 100%;
  height: 100%;
}

.sports-right-swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sports-right-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sports-right-top-btn {
  height: 45px;
  background-color: var(--main-color);
  width: 100%;
  border-radius: 7px;
  font-weight: 500;
  font-size: 15px;
  transition: all;
  transition-duration: 0.2s;
}

.sports-right-top-btn:active {
  scale: 0.99;
}

.sports-left-top-tabs {
  position: relative;
  padding-top: 5px;
  min-height: 67px;
  min-width: 90px;
  cursor: pointer;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.sports-left-top-tabs .count {
  position: absolute;
  background-color: rgb(211, 211, 211);
  font-size: 10px;
  font-weight: 500;
  padding: 2px 4px;
  line-height: 10px;
  border-radius: 3px;
  top: 5px;
  right: 5px;
}

.live-match-btn {
  height: 30px;
  background-color: black;
  border-radius: 7px;
  padding: 0 20px;
  padding-top: 2px;
  color: white;
  font-weight: 500;
  margin-top: 10px;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0% {
    color: white;
  }
  50% {
    color: gray;
  }
  100% {
    color: white;
  }
}

/* ================ account =================== */

.account-sidebar-menu{
  display: flex;
  align-items: center;
  gap: 10px;
  height: 40px;
  padding-left: 15px;
  cursor: pointer !important;
}

.account-sidebar-menu p{
  /* text-[16px] font-[500] pt-[1px] */
  font-size: 16px;
  font-weight: 500;
  padding-top: 1px;
}

.account-card {
  background-image: linear-gradient(to top right, #a36b8b 15%, #ad6a90 15%, #5796b8 80%);
  width: 340px;
  height: 200px;
  border-radius: 10px;
  position: relative;
}

.account-card-sim{
  width: 60px;
  position: absolute;
  top: 60px;
  left: 20px;
}
