:root {
  --sidebar-bg: rgb(236, 236, 236);
  --main-color: #ffb80c;
  --red: #d9517847;
  --blue: #008efb24;
}

.main-section {
  position: relative;
  background-color: rgb(236, 236, 236);
  min-height: 100vh;
}

/* ================ navbar ============== */

.navbar {
  height: 60px;
  background-color: var(--main-color);
  position: fixed;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-btn {
  background-color: black;
  height: 38px;
  width: 80px;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  font-weight: 600;
  transition: transform 0.1s;
}

.navbar-btn:hover {
  transform: scale(1.02);
}

.navbar-btn:active {
  transform: scale(0.99);
}

.navbar .menus .menu {
  padding: 0 6px;
  line-height: 25px;
  cursor: pointer;
}

.navbar .menus .menu:hover {
  border-bottom: 1px solid black;
  margin-top: 2px;
}

/* ================ sidebar ============== */

.sidebar {
  background-color: var(--sidebar-bg);
  position: fixed;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

::-webkit-scrollbar{
  display: none;
}

/* ================ content ============== */

.content {
  padding-top: 78px;
  min-height: 100vh;
  transition: all;
  transition-duration: 0.5s;
}

.home-hero-section-swiper{
  height: 350px;
  border-radius: 10px;
}

.home-hero-section-swiper .swiper {
  width: 100%;
  height: 100%;
}

.home-hero-section-swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet{
  background-color: gray;
}

.swiper-pagination-bullet-active {
  background-color: white; /* Change active bullet color */
}

.home-hero-section-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-cards-section{
  flex: 1;
  min-height: 77px;
  border-radius: 7px;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.123);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  transition: all;
  transition-duration: 0.2s;
}

.home-cards-section:hover{
  scale: 1.03;
}

.home-cards-section:active{
  scale: 1.00;
}

